/* GLOBAL ======================================================================*/
Body {
  color: #D0C8B4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* BODY ========================================================================*/
.background-image {
  background: url("../src/wood.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.scroll-container {
  text-align: center;
  overflow: scroll;
}
.overlay-container {
  width: 100%;
}

/* SHARED STYLES ===============================================================*/
.link:hover {
  text-decoration: underline;
}

/* TOP LINKS ===================================================================*/
.top-links-container {
  position: absolute;
  top: 10px;
}
.link-top {
  display: inline-block;
}
.linkedin-top, .github-top {
  color: #D0C8B4;
  font-size: 16px;
  text-decoration: none;
  text-shadow: 4px 4px 4px black;
}
.linkedin-top {
  left: 30px;
  position: absolute;
}
.github-top {
  right: 30px;
  position: absolute;
}

/* JUMBOTRON ===================================================================*/
.jumbotron {
  background-color: rgba(0, 0, 0, 0.0);
  line-height: 60px;
  letter-spacing: 4px;
  margin: 270px 0 270px 0;
  text-shadow: 4px 4px 4px black;
}
.jumbotron-name {
  font-size: 52px;
}
.jumbotron-title {
  margin: 0 auto;
  width: 500px;
  font-size: 28px;
  border-top: 2px solid #D0C8B4;
}

/* PORTFOLIO ===================================================================*/
.section-title {
  font-size: 26px;
  margin-bottom: 30px;
  text-shadow: 4px 4px 4px black;
}
.card-columns {
  column-count: 2;
}
.card {
  box-shadow: 0px 10px 6px black;
  -webkit-box-shadow: 0px 10px 6px black;
  -moz-box-shadow: 0px 10px 6px black;
}
.pokersprout-link, .retalent-link {
  color: #151312;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
.card-text {
  color: #504E4D;
}
/* CONTACT =====================================================================*/
.contact-container {
  height: 200px;
  margin: 140px 0 30px 0;
  text-shadow: 4px 4px 4px black;
}
.contact-info {
  font-size: 18px;
  line-height: 30px;
}
.email-link {
  text-decoration: none;
  color: #D0C8B4;
}

/* LINKS =======================================================================*/
.links-container {
  background-color: #D0C8B4;
  box-shadow: 0px 10px 6px black;
  -webkit-box-shadow: 0px 10px 6px black;
  -moz-box-shadow: 0px 10px 6px black;
  bottom: 0;
  height: 150px;
}
.link-bottom {
  display: inline-block;
  margin: 60px 20px;
}
.linkedin-bottom, .github-bottom {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

/* MEDIA =======================================================================*/
@media (max-width: 890px) {
  .card-columns {
    column-count: 1;
  }
}

@media (max-width: 574px) {
  .jumbotron-title {
    margin: 0;
    width: 100%;
    font-size: 28px;
    border-top: 2px solid #D0C8B4;
  }
}

/*==============================================================================*/
